.space-between {
  display:flex;
  justify-content: space-between;
}

.grow {
  flex-grow: 1;
}
blockquote {
  white-space: pre;
}

.m-10 {margin:10px;}
.m-b-10 {margin-bottom:10px;}
.p-10 {padding:10px;}
